# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myenv/
venv/
.env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.pyd

# Logs and databases
*.log
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Misc
.DS_Store
*.swp
*.bak
